@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

@layer base {
  :root {
    color: #ffff;

    --color-blue: #2822ff;
    --color-green: #31f1f1;
    --color-pink: #f93afc;

    --color-primary: var(--color-blue);
    --color-secondary: #70a1ff;
    --color-text-base: #080808;
    --color-primary-bg: #02004a;
    --color-hover: #5a55ff;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  p {
    @apply text-base;
  }
}

.theme-blue {
  --color-primary: var(--color-blue);
  --color-secondary: #70a1ff;
  --color-primary-bg: #02004a;
}

.theme-pink {
  --color-primary: var(--color-pink);
  --color-secondary: #ffebff;
  --color-primary-bg: #98169a;
  --color-hover: #fd80ff;
}

.theme-green {
  --color-primary: var(--color-green);
  --color-secondary: #d3fff7;
  --color-primary-bg: #228989;
  --color-hover: #83ffff;
}

.border-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 9999px;
  padding: 2px;
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    rgba(255, 255, 255, 0.2)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  animation: breathe-anim 2.5s infinite;
}

@keyframes breathe-anim {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
